h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightcoral;
}

.start-btn {
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
}

.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}