.jumbotron {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clock {
    float: right;
    margin-right: 15px;
}

#counter {
    width: 125px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 8%;
    color: white;
    text-align: center;
    margin-left: 200px;
}